<div class="col-xs-8 col-xs-offset-2 text-center steps">
  <h1>Welcome to the Author Creation Flow</h1>

  <%= button_to "Click here to continue", { action: "step1" }, method: :get, class: "btn btn-primary btn-block", remote: true %>
</div>
