/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1, h3 { 
  margin-bottom: 2em;
}

 .footer {
  margin-top: 5em;
  border-top: 1px gray solid;
}

.footer p {
  margin-top: 4em;
}

#notice, #error {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 3em;
}

#error {
  color: red;
}

.author-container {
  margin-left: 8em;
}

.author-container a.primary-link, .author-container a.primary-link:hover {
  display: block;
  margin-top: 3em;
  font-size: xx-large;
  padding: 32px 0 32px 10px;
}

.author-container a.primary-link:hover {
  background-color: gray;
}