<div class="col-xs-12 header">
  <div class="col-xs-12 text-center">
    <%= image_tag 'logo.jpg', class: "logo" %>
  </div>

  <div class="col-xs-12 text-center">
    <h3>Flow.app, creating authors since 1999</h3>
  </div>
</div>